$img_width_mobile: 300px;

.section {
  // padding: 2rem 0;
  // overflow-y: scroll;
  // text-align: center;
  // display: flex;
  // background-color: red;
  // width: 80%;
}
.div {
  position: fixed;
  top: 50%;
  width: $img_width_mobile;
  text-align: center;
  color: red;
}

.background {
  background-image: url("../../images/ujcapp-small.JPG");
  margin: 1rem 0;
  height: 200px;
  width: $img_width_mobile;
}
